html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
	list-style: none;
}

body {
	background-color: #001524;
}

h1 {
	color: #F9F9F9;
	padding: 60px 0;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 60%;
	margin: 0 auto;
}

.row {
	display: flex;
	gap: 40px;
}

.card {
	width: 100%;
	background-color: #FFECD1;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	box-shadow: #FF7D00 -10px 10px;
}

.card img {
	margin-bottom: 20px;
}

#sun {
	padding: 40px;
}

#sun h2 {
	font-size: 32px;
}

h2 {
	margin-bottom: 20px;
	font-weight: 600;
}

.col-3 {
	width: 25%;
}

.col-9 {
	width: 75%;
}

.planet-row {
	display: flex;
	margin-bottom: 40px;
	gap: 40px;
}